<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
  <% unless @unread_count.to_i.zero? || @unread_count.nil? %>
    <a href="<%= unread_messages_user_path(@user) %>">
      <strong><%= @unread_count %></strong>
      unread <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
    </a>
  <% end %>
</div>
