<% provide(:title, "Change password") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Change password</h1>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= hidden_field_tag :change, "password" %>

      <%= f.label :current_password, "Current_password" %>
      <%= link_to "(forgot password)", new_password_reset_path %>
      <%= f.password_field :current_password, class: "form_control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form_control" %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form_control" %>

      <%= f.submit "Change password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
