<% provide(:title, "#{@micropost.content}") %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="flex-microposts">
      <ol class="microposts">
        <%= render "show_micropost" ,micropost: @micropost %>
        <%= render @replies if @replies %>
      </ol>
      <%= paginate @replies if @replies %>
    </div>
  </div>
  <% unless logged_in? %>
    <%= render "shared/login_required" %>
    <%= render "shared/login_recommended" %>
  <% end %>
</div>
